// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
}

.comments-header {
  margin-left: 10px;
}